<!doctype html>
<html ng-app lang="en">

<head>
  <meta charset="UTF-8">
  <title>Angular Mad Libs</title>
</head>

<body>
  <div>
    <h1>Angular Mad Libs</h1>

    <p>A {{locationOne}} {{nounOne}} is facing up to {{numberOne}} years in {{placeOne}} for operating a {{adjectiveOne}} {{nounTwo}} scam that cheated victims out of at least {{numberTwo}} {{nounThreePlural}}.</p>

    <p>Sentencing is set for May 31 in {{locationTwo}} {{placeTwo}} for {{age}}-year-old {{nameOne}}.</p>

    <input type="text" ng-model="locationOne" placeholder="Enter a location here">
    <input type="text" ng-model="nounOne" placeholder="Enter a noun here">

    <input type="text" ng-model="numberOne" placeholder="Enter a number here">

    <input type="text" ng-model="placeOne" placeholder="Enter a place here">

    <input type="text" ng-model="adjectiveOne" placeholder="Enter an adjective here">

    <input type="text" ng-model="nounTwo" placeholder="Enter a noun here">

    <input type="text" ng-model="numberTwo" placeholder="Enter a number here">

    <input type="text" ng-model="nounThreePlural" placeholder="Enter a noun plural here">

    <input type="text" ng-model="locationTwo" placeholder="Enter a location here">

    <input type="text" ng-model="placeTwo" placeholder="Enter a place here">

    <input type="text" ng-model="age" placeholder="Enter an age here">

    <input type="text" ng-model="nameOne" placeholder="Enter a name of a person here">

  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
</body>

</html>
